<ion-header>
    <ion-toolbar color="warning">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card style="text-align: center;
    padding: 20px;margin-top: 33%;">
    <img src="assets/imgs/campusStoreLogo.png" style="    height: 100px;
    width: 100px;margin-left: 34%;">
     
  
        <ion-input placeholder="Enter Email" [(ngModel)]="email" style="border-radius: 20px;border: 1px solid rgba(173, 173, 173, 0.71);"></ion-input>
   
     
          <ion-input  placeholder="Enter Password" style="border: 1px solid rgba(173, 173, 173, 0.71);
          margin-top: 10px;
          border-radius: 20px;" [(ngModel)]="password" ></ion-input>
     
     
       
        <ion-button color="primary"  expand="full" (click)="Login()" style="margin-top: 7%;">
            <ion-icon slot="start" name="log-in"></ion-icon>
          Login</ion-button>

          <ion-button color="success"  expand="full" (click)="Signup()" style="margin-top: 3%;">
              <ion-icon slot="start" name="create"></ion-icon>
            Create an Account</ion-button>
    </ion-card>
      <img src="https://image.freepik.com/free-vector/online-shopping-concept-landing-page_23-2148249252.jpg">
  </ion-content>
  